.background
{
    background-image: url("./../gameAssets/Updown/images/squid_final_2.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
}
#state
{
    margin-bottom: 10px;
    color:rgb(238, 28, 133);
    text-shadow: 2px 2px 2px pink;
}
.times
{
    color: gray;
    background-color: white;
    border-radius: 25px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85px;
    height: 20px;
}
.start
{
    font-weight: bold;
    color: rgb(238, 28, 133);
    background-color: white;
    border-radius: 25px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85px;
    height: 20px;
}
.start:hover{
    background-color: black;
    border-radius: 25px;
}
.times:hover
{
    background-color: black;
    border-radius: 25px;
}
.bomb
{
    background-color: white;
    color: hotpink;
    border-radius: 40px;
    width: 50px;
    height: 40px;
    margin-left: 140px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
#enter
{
    color: white;
    background-color: black;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right: 5px;
    width: 40px;
    height: 30px;

}
#btn
{
    background-color: black;
    border-radius: 80px;
    margin-left: 10px;
    margin-top: 10px;
    width: 35px;
    height: 35px;
}
#btn:hover
{
    background-color: white;
    color: black;
    border-radius: 80px;

}
#try
{
    width: 0;
    height: 0;
    border-bottom: 30px solid black;
    border-top: 10px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: 17px;
}
.ForLogo
{
    display: block;
    width: 13% 13%;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 280px;
}

#bold
{
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-left: 2px;
    width: 50px;
    height: 15px;
    word-break: break-all;
    border-color: rgb(21, 99, 99);
    background-color: rgb(21, 99, 99);
    color: white;
    font-weight : bold;
    font-size: 20px;
    text-align: center;
}